<p id="notice"><%= notice %></p>

<p>
  <strong>Admin department:</strong>
  <%= @admin_assessment.admin_department_id %>
</p>

<p>
  <strong>Training type:</strong>
  <%= @admin_assessment.training_type %>
</p>

<p>
  <strong>Training subject:</strong>
  <%= @admin_assessment.training_subject %>
</p>

<p>
  <strong>Nature of training:</strong>
  <%= @admin_assessment.nature_of_training %>
</p>

<p>
  <strong>Training title:</strong>
  <%= @admin_assessment.training_title %>
</p>

<p>
  <strong>Admin employee:</strong>
  <%= @admin_assessment.admin_employee_id %>
</p>

<p>
  <strong>Training reason:</strong>
  <%= @admin_assessment.training_reason %>
</p>

<p>
  <strong>Admin trainer:</strong>
  <%= @admin_assessment.admin_trainer_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @admin_assessment.location %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @admin_assessment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @admin_assessment.end_date %>
</p>

<p>
  <strong>Training cost:</strong>
  <%= @admin_assessment.training_cost %>
</p>

<p>
  <strong>Travel cost:</strong>
  <%= @admin_assessment.travel_cost %>
</p>

<p>
  <strong>Status:</strong>
  <%= @admin_assessment.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_assessment.description %>
</p>

<%= link_to 'Edit', edit_admin_assessment_path(@admin_assessment) %> |
<%= link_to 'Back', admin_assessments_path %>
