<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
    <div class="panel-body col-md-6">
      <%= devise_error_messages! %>
        <div class="form-group">
            <label>First Name</label>
            <span class="help">e.g. "Jhon"</span>
            <%= form.text_field :first_name,class: "form-control" %>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <span class="help">e.g. "Doe"</span>
            <%= form.text_field :last_name, class: "form-control" %>
        </div>

        <div class="form-group">
            <label>Employee Code</label>
            <span class="help">e.g. "546814" (Unique For every User)</span>
            <%= form.text_field :employee_code, class: "form-control" %>
        </div>

        <div class="form-group">
            <label>Username</label>
            <span class="help">e.g. "employee" (Unique For every User)</span>
            <%= form.text_field :user_name, class: "form-control" %>
        </div>

        <div class="form-group">
            <label>picture</label>
            <span class="help">e.g. "employee" (Unique For every User)</span>
            <%= form.file_field :image, class: "form-control" %>
        </div>

        <div class="field">
            <%= form.label :email %><br />
            <%= form.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
        </div>

        <div class="field">
            <%= form.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= form.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field">
            <%= form.label :password_confirmation %><br />
            <%= form.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
            <label for="el3">Department</label>
            <%= form.select :admin_department_id, Admin::Department.all.map{|d| [d.name, d.id]}, class: "btn dropdown-toggle btn-default" %>
            </select>
        </div>

        <div class="form-group">
            <label for="el3">Designation</label>
            <%= form.select :admin_designation_id, Admin::Designation.all.map{|d| [d.name, d.id]}, class: "btn dropdown-toggle btn-default" %>
        </div>

        <div class="form-group">
            <label for="el3">User Role</label>
            <%= select_tag 'role', options_for_select( Role.all.reject{|u| u.name == "admin"}.collect{|u|[u.name]})%> 
        </div>
    </div>

    <div class="panel-body col-md-6">
        <div class="form-group">
            <label>Father Name</label>
            <%= form.text_field :father, class: "form-control" %>
        </div>

        <div class="form-group">
            <label>Mother Name</label>
            <%= form.text_field :mother, class: "form-control" %>
        </div>

        <div class="form-group">
            <label>Date Of Birth</label>
            <%= form.text_field :date_of_birth, class: "form-control", "data-provide" => 'datepicker' %>
        </div>

        <div class="form-group">
            <label>Date Of Joining</label>
            <%= form.text_field :date_of_join, class: "form-control", "data-provide" => 'datepicker' %>
        </div>

        <div class="form-group">
            <label>Date Of leave</label>
            <%= form.text_field :date_of_leave, class: "form-control", "data-provide" => 'datepicker' %>
        </div>

        <div class="form-group">
            <label>Present Address</label>
            <%= form.text_field :present_address, class: "form-control" %>
        </div>
        
        <div class="form-group">
            <label>Peremanent Address</label>
            <%= form.text_field :permanent_address, class: "form-control" %>
        </div>

        <div class="form-group">
            <label>Status</label>
            <%= form.select :status, %w{Active Inactive}, :prompt => 'Select', required: true, placeholder: 'status', class: 'form-control' %>
        </div>

        <div class="form-group">
            <label>Phone Number</label>
            <%= form.text_field :phone, class: "form-control" %>
        </div>

        <div class="form-group">
            <label>Alternative Phone</label>
            <%= form.text_field :alternative_phone, class: "form-control" %>
        </div>

        <div class="form-group">
            <label>Gender</label>
            <%= form.select :gender, %w{male Female}, :prompt => 'Select', required: true, placeholder: 'Gender', class: 'form-control' %>
        </div>
        
        <div class="form-group">
            <label>Tax Template</label>
            <%= form.select :tax_example, %w{TaxRule1 15000 PPn}, :prompt => 'Select', required: true, placeholder: 'Tax', class: 'form-control' %>
        </div>
    </div>
    <div class="actions">
        <%= form.submit "Add",class: "btn btn-success btn-sm pull-right" %>
    </div>
<% end %>
