<section class="wrapper-bottom-sec">
        <div class="p-30">
            <h2 class="page-title">View Profile</h2>
        </div>
        <div class="p-30 p-t-none p-b-none">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel">
                        <div class="panel-body p-t-20">
                            <div class="clearfix">
                                <div class="pull-left m-r-30">
                                    <div class="thumbnail m-b-none">
                                        <img src="http://coderpixel.com/demo/advanced-hrm/assets/employee_pic/myAvatar.png" alt="Profile Page" width="200px" height="200px">
                                        <%= image_tag current_user.image.url unless current_user.image.blank? %>
                                     </div>
                                </div>
                                <div class="pull-left">
                                    <h3 class="bold font-color-1">ADMIN</h3>
                                        <b>Email: </b><%= current_user.email %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-30 p-t-none p-b-none">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#personal_details" aria-controls="home" role="tab" data-toggle="tab">Personal Details</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content panel p-20">
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                          <div role="tabpanel" class="tab-pane active" id="personal_details">
                            <%= devise_error_messages! %>
                            <div class="field">
                                <%= f.label :email %><br />
                                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                            </div>

                            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                            <% end %>

                            <div class="field">
                                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                                <%= f.password_field :password, autocomplete: "off" %>
                                <% if @minimum_password_length %>
                                  <br />
                                  <em><%= @minimum_password_length %> characters minimum</em>
                                <% end %>
                            </div>

                            <div class="field">
                                <%= f.label :password_confirmation %><br />
                                <%= f.password_field :password_confirmation, autocomplete: "off" %>
                            </div>

                            <div class="field">
                                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                                <%= f.password_field :current_password, autocomplete: "off" %>
                            </div>
                            <div class="field">
                                <%= f.label :image %><br />
                                <%= f.file_field :image %>
                            </div><br/ >
                            <div class="field">
                                <%= f.submit "Update",class: "btn btn-success" %>
                            </div>
                          </div>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
