<section class="wrapper-bottom-sec">
    <div class="p-30">
        <h2 class="page-title">Add Employee Role </h2>
    </div>
    <div class="p-30 p-t-none p-b-none">
        <div class="row">
            <div class="col-lg-4">
                <div class="panel">
                    <div class="panel-body">
                        <%= render 'admin/employee_roles/form' %>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Employee Roles</h3>
                    </div>
                    <div class="panel-body p-none">
                        <table class="table data-table table-hover table-ultra-responsive">
                            <thead>
                            <tr>
                                <th style="width: 10%;">SL#</th>
                                <th style="width: 40%;">Role Name</th>
                                <th style="width: 15%;">Status</th>
                                <th style="width: 35%;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                <% @admin_employee_roles.each do |admin_employee_role| %>
                                <tr>
                                    <td data-label="SL"><%= admin_employee_role.id %></td>
                                    <td data-label="Role Name"><p><%= admin_employee_role.name %></p></td>
                                    <td data-label="Status"><span class="label label-success">Active</span></td>
                                    <td><%= link_to 'Edit', edit_admin_employee_role_path(admin_employee_role), class: "btn btn-success btn-xs" %>
                                    <a class="btn btn-complete btn-xs" href="http://coderpixel.com/demo/advanced-hrm/employees/set-roles/1"><i class="fa fa-list"></i> Set Roles</a>
                                    <%= link_to 'Destroy', admin_employee_role, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
                                    </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>