<%= form_for @admin_expense do |form| %>
  <div class="form-group">
    <label>Item Name</label>
    <%= form.text_field :item_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Purchase From</label>
    <%= form.text_field :purchase_from, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Purchase Date</label>
    <%= form.text_field :purchase_date, class: "form-control", "data-provide" => 'datepicker' %>
  </div>

  <div class="form-group">
    <label>Purchase By</label>
     <%= form.select :admin_employee_id, Admin::Employee.all.map{|e| [e.user_name, e.id]}, class: "btn dropdown-toggle btn-default" %>
  </div>

  <div class="form-group">
    <label>Purchase Date</label>
    <%= form.text_field :purchase_date, class: "form-control", "data-provide" => 'datepicker' %>
  </div>

  <div class="form-group">
    <label>Amount</label>
    <%= form.text_field :amount, class: "form-control" %>
  </div>

  <div class="form-group m-none">
    <label for="e20">Status</label>
    <%= form.select :status, %w{Pending Approved Cancle}, :prompt => 'Select', required: true, placeholder: 'status', class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Select Document</label>
    <div class="input-group input-group-file">
        <span class="input-group-btn">
          <%= form.file_field :attachment,class: "btn btn-primary btn-file" %>
        </span>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>