<%= form_for @admin_increment do |form| %>
  <% if admin_increment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_increment.errors.count, "error") %> prohibited this admin_increment from being saved:</h2>

      <ul>
      <% admin_increment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_employee_id %>
    <%= form.number_field :admin_employee_id, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :admin_designation_id %>
    <%= form.number_field :admin_designation_id, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :current_salary %>
    <%= form.text_field :current_salary, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :increment_salary %>
    <%= form.text_field :increment_salary, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Update", class: "btn btn-success btn-sm pull-right" %>
  </div>
<% end %>
