<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :designation_id %>
    <%= form.select :designation_id, Designation.all.map{|d| [d.name, d.id]}, class: "btn dropdown-toggle btn-default" %>
  </div>

  <div class="field">
    <%= form.label :number_of_post %>
    <%= form.text_field :number_of_post, id: :job_number_of_post %>
  </div>

  <div class="field">
    <%= form.label :job_type %>
    <%= form.select :job_type, %w{Parttime Fulltime}, :prompt => 'Select', required: true, placeholder: 'Gender', class: 'form-control' %>

  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.text_field :experience, id: :job_experience %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :job_age %>
  </div>

  <div class="field">
    <%= form.label :job_location %>
    <%= form.text_field :job_location, id: :job_job_location %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary, id: :job_salary %>
  </div>

  <div class="field">
    <%= form.label :post_date %>
    <%= form.text_field :post_date, id: :job_post_date %>
  </div>

  <div class="field">
    <%= form.label :last_date_to_apply %>
    <%= form.text_field :last_date_to_apply, id: :job_last_date_to_apply %>
  </div>

  <div class="field">
    <%= form.label :close_date %>
    <%= form.text_field :close_date, id: :job_close_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, %w{Open Closed Drafted }, :prompt => 'Select', required: true, placeholder: 'Gender', class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :short_description %>
    <%= form.text_field :short_description, id: :job_short_description %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :job_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
