<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 class="modal-title">Edit Department</h3>
    </div>
    <%= form_for @admin_designation, remote: true do |form| %>     
      <div class="modal-body form-group form-admin">
        <ul class="errors alert-danger"></ul>
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control"  %>
        </div>
        <div class="field">
          <label class="control-label">Select Department</label>
          <%= form.select :admin_department_id, Admin::Department.all.map{|d| [d.name, d.id]}, class: "btn dropdown-toggle btn-default" %>
          <%#= form.collection_select(:admin_department_id, Admin::Department.all, :id, :name, {:prompt => "Select a Model"}, {:id => 'models_select'}) %>
        </div><br>
          <%= form.submit "Update", class: "btn btn-success btn-sm pull-right" %>
          <%= link_to "Cancel", "#", class: "btn", data: { dismiss: "modal" } %>
      </div>
    <% end %>
  </div>
</div>