<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_designation.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @admin_designation.admin_department %>
</p>

<%= link_to 'Edit', edit_admin_designation_path(@admin_designation) %> |
<%= link_to 'Back', admin_designations_path %>
