<section class="wrapper-bottom-sec">
    <div class="p-30">
        <h2 class="page-title">Leave Application</h2>
    </div>
    <div class="p-30 p-t-none p-b-none">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Leave Application</h3>
                        <button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#new-leave"><i class="fa fa-plus"></i> New Leave</button>
                        <br>
                    </div>
                    <div class="panel-body p-none">
                        <table class="table data-table table-hover table-ultra-responsive">
                            <thead>
                            <tr>
                                <th style="width: 5%;">SL#</th>
                                <th style="width: 10%;">Employee Code</th>
                                <th style="width: 20%;">Leave Type</th>
                                <th style="width: 15%;">Leave From</th>
                                <th style="width: 15%;">Leave To</th>
                                <th style="width: 15%;">Status</th>
                                <th style="width: 20%;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                <% @admin_leaves.each do |admin_leave| %>
                                <tr>
                                    <td data-label="SL"><%= admin_leave.id %></td>
                                    <td data-label="emoployeCode"><p><%= admin_leave.admin_employee_id %></p></td>
                                    <td data-label="leaveType"><p><%= admin_leave.leave_type %></p></td>
                                    <td data-label="LeaveFrom"><p><%= admin_leave.leave_from %></p></td>
                                    <td data-label="LeaveTo"><p><%= admin_leave.leave_to %></p></td>
                                    <td data-label="Status"><p class="btn btn-warning btn-xs"><%= admin_leave.status %></p></td>
                                    <td data-label="Actions">
                                     <%#= link_to 'Edit', edit_admin_leave_path, class: "btn btn-success btn-xs" %>
                                        <%#= link_to 'Destroy', admin_leave, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="new-leave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add New Leave</h4>
                                </div>
                                <%= render "admin/leaves/form" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
