<%= form_with(model: leafe, local: true) do |form| %>
  <% if leafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leafe.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% leafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.number_field :employee_id, id: :leafe_employee_id %>
  </div>

  <div class="field">
    <%= form.label :leave_type %>
    <%= form.text_field :leave_type, id: :leafe_leave_type %>
  </div>

  <div class="field">
    <%= form.label :leave_from %>
    <%= form.date_select :leave_from, id: :leafe_leave_from %>
  </div>

  <div class="field">
    <%= form.label :leave_to %>
    <%= form.date_select :leave_to, id: :leafe_leave_to %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :leafe_status %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason, id: :leafe_reason %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
