<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @award.name %>
</p>

<p>
  <strong>Gift:</strong>
  <%= @award.gift %>
</p>

<p>
  <strong>Cash price:</strong>
  <%= @award.cash_price %>
</p>

<p>
  <strong>Month:</strong>
  <%= @award.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @award.year %>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
