<%= form_for Admin::Fund.new do |form| %>
    <div class="modal-body">
        <div class="form-group">
            <label>Employee Name</label>
            <%= form.number_field :admin_employee_id, class: "form-control" %>
        </div>

        <div class="form-group m-none">
            <label for="e20">Provident Fund Type</label>
            <%= form.text_field :fund_type, class: "form-control" %>
        </div>

        <div class="show-basic-salary">
            <div class="form-group">
                <label for="fname">Employee Share</label>
                <%= form.text_field :employee_share, class: "form-control" %>
            </div>

            <div class="form-group">
                <label for="fname">Organization Share</label>
                <%= form.text_field :organization_share, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <label for="fname">status</label>
            <%= form.text_field :status, class: "form-control" %>
        </div>

        <div class="form-group">
            <label>Description</label>
            <%= form.cktext_area :description, class: "form-control" %>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="_token" value="jK00MQgg8FOpc0dIcjWt6qsmormt4RmcTVwoKBXj">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= form.submit "Add", class: "btn btn-primary" %>
    </div>
<% end %>