<%= form_for @admin_notice do |form| %>
    <div class="form-group">
        <label>Notice Title</label>
        <%= form.text_field :title, class: "form-control" %> 
    </div>
    <div class="form-group m-none">
        <label for="e20">Notice Status</label>
        <%= form.text_field :status, class: "form-control" %>
    </div>
    <div class="form-group">
        <label>Description</label>
        <%= form.text_area :description, class: "form-control ckeditor" %>
    </div>
    <div class="form-group">
        <%= form.submit "Update", class: "btn btn-primary" %>
    </div>
<% end %>