<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header"><a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
            <div class="top-left-part"><a class="logo" href="index.html"><h3><b> ADVANCE HRM </b></h3><%#= image_tag "albit.png" %></a></div>
            <ul class="nav navbar-top-links navbar-left hidden-xs">
                <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                <li>
                    <form role="search" class="app-search hidden-xs">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href=""><i class="fa fa-search"></i></a>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li class="dropdown"> <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"><i class="icon-envelope"></i>
                <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                 </a>
                    <ul class="dropdown-menu mailbox animated bounceInDown">
                        <li>
                            <div class="drop-title">You have 4 new messages</div>
                        </li>
                        <li>
                            <div class="message-center">
                                <a href="#">
                                    <div class="user-img"> <!-- <img src="/images/users/pawandeep.jpg" alt="user" class="img-circle"> --> <span class="profile-status online pull-right"></span> 
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5>
                                        <span class="mail-desc">Just see the my admin!</span><span class="time">9:30 AM</span> 
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <!-- <img src="/images/users/sonu.jpg" alt="user" class="img-circle"> --> <span class="profile-status busy pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Sonu Nigam</h5>
                                        <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <!-- <img src="/images/users/arijit.jpg" alt="user" class="img-circle">  --><span class="profile-status away pull-right"></span> 
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Arijit Sinh</h5>
                                        <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> 
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <!-- <img src="/images/users/pawandeep.jpg" alt="user" class="img-circle"> --> <span class="profile-status offline pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5>
                                        <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> 
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a class="text-center" href="javascript:void(0);"> <strong>See all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown"> <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"><i class="ti-shopping-cart"></i>
                    <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                    </a>
                    <ul class="dropdown-menu dropdown-cart dropdown-tasks animated slideInUp">
                        <li>
                            <div class="cart-img"><!-- <img src="/images/chair.jpg" /> --></div>
                            <div class="cart-content">
                                <h5>Rounded Chair</h5><small>$153</small></div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="cart-img"><!-- <img src="/images/chair2.jpg" /> --></div>
                            <div class="cart-content">
                                <h5>Rounded Chair</h5><small>$153</small></div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="cart-img"><!-- <img src="/images/chair3.jpg" /> --></div>
                            <div class="cart-content">
                                <h5>Rounded Chair</h5><small>$153</small></div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="product-checkout.html"> <strong>Checkout</strong> <i class="fa fa-angle-right"></i> </a>
                        </li>
                    </ul>
                </li>
                <li class="right-side-toggle"> <a class="waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-header -->
    </nav>
    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li><%= link_to home_index_path do %><i class="linea-icon linea-basic fa-fw" data-icon="v"></i><span class="hide-menu">Dashboard<span class="fa arrow"></span> </span><% end %>
                </li>
                <li><%= link_to departments_path do %><i class="linea-icon linea-basic fa-fw text-danger" data-icon="7"></i> <span class="hide-menu text-danger">Departments<span class="fa arrow"></span></span><% end %>
                </li>
                <li><%= link_to designations_path do %><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Designations<span class="fa arrow"></span></span><% end %>
                </li>
                <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Employees<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                <li><%= link_to jobs_path do %><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Job Application<span class="fa arrow"></span></span><% end %>
                </li>
                <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Attendance<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Leave<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Holidays<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%= link_to "Holiday Calander" %></li>
                        <li><%= link_to "Add New Holiday", new_holiday_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                <li><%= link_to awards_path do %><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Award<span class="fa arrow"></span></span><% end %>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                <li><%= link_to notices_path do %><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Notice Board<span class="fa arrow"></span></span><% end %>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Expense<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                 <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Payroll<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                 <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Training<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Task<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Support Tickets<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Reports<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
                <li><a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Setting<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><%#= link_to "About Us", new_about_u_path %></li>
                        <li><%#= link_to "Contact Us", new_contact_u_path %></li>
                        <li><%#= link_to "Term & Condition", new_term_path %></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>