<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <%# if user_signed_in? %>
            <%#= current_user.email %>
        <%# end %>
        <ul class="dropdown-menu">
            <% if current_user.nil? %>
                <li><%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %></li>
            <% else %>
                    <%#= link_to dashboard_index_path, class: 'login-button' do %>Go to App<%# end %>
                <li><%= link_to destroy_user_session_path, method: :delete do %>Log Out<% end %></li>
            <% end %>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
</nav>
<!-- Left navbar-header -->
<nav class="navbar navbar-inverse sidebar" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><%= link_to home_index_path do %>Dashboard<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span><% end %></li>
            <li ><%= link_to admin_departments_path do %>Departments<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span><% end %></li>
            <li ><%= link_to admin_designations_path do %>Designation<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span><% end %></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                <ul class="dropdown-menu forAnimate" role="menu">
                    <li><%= link_to "All Employees", admin_employees_path %></li>
                    <li><%= link_to "Add Employee", new_admin_employee_path %></li>
                    <li><%= link_to "Employee Role", admin_employee_roles_path %></li>
                </ul>
            </li>
            <li><%= link_to admin_jobs_path do %>Job Application<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span><% end %></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Attendance<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                <ul class="dropdown-menu forAnimate" role="menu">
                    <li><%= link_to "Attendance Report", admin_attendances_path %></li>
                    <li><%= link_to "Update Attendance", new_admin_attendance_path %></li>
                </ul>
            </li>
            <li ><%= link_to admin_leaves_path do %>Leave<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span><% end %></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                <ul class="dropdown-menu forAnimate" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
    <!-- Left navbar-header end -->
    
