<%= form_for Admin::Award.new do |form| %>
    <div class="modal-body">
        <div class="form-group">
            <label>Award Name</label>
            <%= form.select :name, %w{Best-Employee Employee-Of-The-Year Employee-Of-The-Month}, :prompt => 'Select', required: true, placeholder: 'Job Type', class: 'form-control' %>
        </div>

        <div class="form-group">
            <label>Employee Name</label>
            <%= form.select :admin_employee_id, Admin::Employee.all.map{|d| [d.first_name, d.id]}, class: "form-control selectpicker" %>
        </div>

        <div class="form-group">
            <label>Gift Item</label>
            <%= form.text_field :gift_item, class: "form-control" %>
        </div>

        <div class="form-group">
            <label>Cash Price</label>
            <%= form.text_field :cash_price, class: "form-control" %>
        </div>

        <div class="form-group m-none">
            <label for="e20">Month</label>
            <%= form.select :month, 1..12 %>
        </div>

        <div class="form-group">
            <label>Year</label>
            <%= form.select :year, Date.today.year..8.years.from_now.year %>

        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="_token" value="s1zUCeyCUdsq23eTVvA2c1XIb4O84T8355FMtOBu">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= form.submit "Add", class: "btn btn-primary" %>
    </div>
<% end %>